* {
  margin: 0;
  text-decoration: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@font-face {
font-family: impact;
src: url(./assets/impact.ttf);
}

body {
  margin: 0;
  background-color: #ffffff;
  scroll-behavior: smooth;
}


::-webkit-scrollbar {
  background-color: rgb(255, 255, 255);
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(0, 0, 0);
  border-radius: 30px;
}


header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  position: fixed;
  padding-left: 10%;
  padding-right: 10%;
  height: 10vh;
  align-items: center;
  margin: 0 auto;
  inset: 0;
  z-index: 20;
  background-color: white;
}

header a {
  font-size: 2.7vh;
  color: rgb(0, 0, 0);
  font-weight: 600;
}

header>a {
  margin-left: 35px;
  font-size: 4vh;
  font-weight: 700;
  width: 4vh;
  transition: ease .3s;
}


header>nav {
  justify-self: right;
  margin-right: 40px;
}

header>nav a {
  padding: 20px;
}

header>nav a.active, header>nav a:hover {
  background-color: black;
  color: white;
  padding: 8px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 20px;
}

#checkMenu {
  display: none;
}

#checkMenulabel {
  display: none;
}

#Inicio {
  width: 100%;
  padding-top: 15vh;
  text-align: center;
  margin-bottom: 12vh;
}

#Inicio > h1{
  font-size: 8vh;
  -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

#Inicio > p{
  font-size: 2vw;
  font-weight: 400;
  margin-top: 10px;
  -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

/*SWIPER*/

.container-swiper {
  margin-top: 5vh;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
}

.swiper-slide img{
  width: 100%;
  height: 55vh;
  object-fit: cover;
  border-radius: 20px;
  transition: .3s ease;
}

.swiper-slide img:hover{
  transform: scale(1.03);
}

.container-swiper  {
  width: 100%;
  overflow: hidden;
  padding: 0px!important;
}

.container-swiper > div {
  width: 75%;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
  display: grid;
  overflow-y: hidden;
  margin-top: 3vh;
}

/* CARROUSEL*/
.tecnologias{
  width: 80%;
  overflow: hidden;
  margin: 50px auto 0px;
}

.carousel {
  min-width: 150vh;
  height: 50px;
}

.carousel ul li {
  display: grid;
  place-items: center;
}


.carousel img {
  height: 40px;
  filter: grayscale(100%);
}

/*COCSAS DEL OBSERVER */

.Mostrar,
.Mostrar>article div {
  opacity: var(--opacity) !important;
  transform: var(--transform) !important;
  
}

.white-anchor{
  color: white;
}

/*h2 de las secciones*/
section:nth-child(odd) h2{
text-align: center;
font-size: 5em;
font-family: impact;
font-weight: 400;
text-transform: uppercase;
writing-mode: vertical-lr;
transform: rotate(180deg);
margin: 0 auto;
grid-row: 1/-1;
margin-right: 10px;
transition: ease .3s;
}

section:nth-child(odd) .container{
grid-column: 2/4;
grid-row: 1/2;
}

section:nth-child(even) h2{
text-align: center;
font-size: 5em;
font-family: impact;
font-weight: 400;
text-transform: uppercase;
writing-mode: vertical-lr;
margin: 0 auto;
grid-row: 1/-1;
margin-right: 10px;
transition: ease .3s;
}

section:nth-child(even) .container{
grid-column: 1/3;
grid-row: 1/2;
}

/*----------------------------------   DETAILS PROYECT ----------------------------------*/

.detailsProyect{
  position: fixed;
  inset: 0;
  background-color: rgb(255, 255, 255);
  z-index: 100;
}

.detailsProyect .Close{
  position: absolute;
  right: 30px;
  top: 15px;
  font-size: 25px;
  cursor: pointer;
  padding: 0px 10px 5px 10px;
  border-radius: 500px;
  transition: .3s ease;
  font-weight: 600;
}

.detailsProyect .Close:hover{
  background-color: #77777748;
}

.detailsProyect .backgroundProyect{
  position: absolute;
  inset: 0;
  background-color: #e5e5f7;
  z-index: -1;
  background-image: repeating-radial-gradient(circle at center center, transparent 0px, transparent 13px,rgba(0,0,0,0.03) 13px, rgba(0,0,0,0.03) 24px,transparent 24px, transparent 62px,rgba(0,0,0,0.03) 62px, rgba(0,0,0,0.03) 96px),repeating-radial-gradient(circle at center center, rgb(255,255,255) 0px, rgb(255,255,255) 14px,rgb(255,255,255) 14px, rgb(255,255,255) 18px,rgb(255,255,255) 18px, rgb(255,255,255) 28px,rgb(255,255,255) 28px, rgb(255,255,255) 32px); background-size: 21px 21px;
}

.Contenido{
  display: grid;
  grid-template-columns: 1fr 400px;
  grid-template-rows: 100px 1fr 80px;
  padding: 50px 30px;
  padding-bottom: 0px;
  gap: 30px;
  height: 90%;
  overflow: auto;
}

.Contenido h2{
  grid-row: 1/2;
  grid-column: 1/-1;
  text-align: center;
  font-size: 50px;
}

.detailsProyect .content{
  width: 90%;
  margin: 0 auto;
 
  label{
    display: block;
    font-weight: bold;
    font-size: 25px;
    margin: 0px auto;
    margin-bottom: 20px;
  }

  .descript{
    text-indent: 20px;
    line-height: 30px;
  }

}


.detailsProyect .asideAssets{
  position: relative;
  grid-row: 2/-1;
  grid-column: 2/-1;

  .floatBtns{
    position: absolute;
    display: grid;
    gap: 20px;
    width: 3.5vw;
    top: 20%;
    left: -2vw;
    z-index: 10;
    button{
      background-color: rgb(255, 255, 255);
      padding: 5px;
      border-radius: 5px;
      border: #1D1D1D solid 1px;
      cursor: pointer;
      transition: .3s ease;
    }

    button:hover{
      transform: scale(1.1);
    }
    img{
      width: 100%;
      height: 100%;
      object-fit: fill;
    }
  }

  .imgProyect{
    width: 100%;
    height: 40vh;
    object-fit: contain;
    filter: drop-shadow(1px 19px 27px #00000033);
  }

  .Stacks{
    width: 80%;
    margin: 30px auto;
    display: grid;
    grid-template-columns: repeat(2, minmax(50px, 1fr));
    grid-template-rows: 1fr 1fr;
    gap: 40px;
    img{
      width: 70%;
      justify-self: center;
    }
  }
}

.detailsProyect .Enlaces{
  display: flex;
  gap: 20px;

  width: 95%;
  margin: 0 auto;
  margin-bottom: 20px;
  a{
    display: block;
    padding: 20px;
    font-weight: 600;
    border-radius: 20px;
    border: white solid 1px;
    width: 20%;
    text-align: center;
    transition: .3s ease;
    cursor: pointer;
  }

  .diseable{
    pointer-events: none;
    opacity: .5;
  }

  a:nth-child(1), a:nth-child(2):hover{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
  }

  a:nth-child(2), a:nth-child(1):hover{
    background-color: white;
    color: black;
    border-color: black;
  }
}

/*Proyectos*/


#Proyectos {
  width: 90%;
  margin: 0px auto;
  display: grid;
  grid-template-columns: 8vw 1fr;
  grid-template-rows: 1fr;
  padding: 15vh 0vh;
}


.container {
  width: 100%;
  overflow-x: auto;
}

#Proyectos .container>div {
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 250px);
  display: grid;
  place-content: center;
  gap: 5px;
  overflow-y: hidden;
  overflow-x: auto;
}


#Proyectos .container>div article:nth-of-type(1) {
  grid-row: 1 / -1;
}


#Proyectos .container>div article:nth-of-type(2) {
  grid-row: 1 / 2;
  grid-column: 2/4;
}

#Proyectos .container>div article:nth-of-type(3) {
  grid-row: 1/2;
  grid-column: 5/-1;
}

#Proyectos .container>div article:nth-of-type(4) {
  grid-row: 2/-1;
  grid-column: 2/4;
}

#Proyectos .container>div article:nth-of-type(5) {
  grid-row: 2/-1;
  grid-column: 4/-1;
}

.card {
  background-color: white;
  border-radius: 20px;
  height: 100%;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  opacity: 0;
  --opacity: 1;
  transform: translateY(100px);
  transition: all calc(0.3s / var(--Dur));
  position: relative;
  cursor: pointer;
}

.card>img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  transition: ease .5s;
}

.card>div {
  position: absolute;
  backdrop-filter: blur(1.5px);
  inset: 0;
  opacity: 0;
  place-content: center;
  grid-template-rows: 0% 50%;
  color: white;
  transition: ease 0.3s;
}

.card>div>h3 {
  margin: 0 auto;
  margin-bottom: 20px;
  text-align: center;
}

.card>div>p {
  padding: 20px;
  font-size: 1em;
}


.card:hover>img {
  filter: brightness(0.4);
  transform: scale(1.1);
  cursor: pointer;
}

.card:hover>div {
  opacity: 1;
}


/*Aside flotante de redes*/

.FloatRedes {
  position: fixed;
  width: 2vh;
  right: 4vh;
  top: 50%;
  z-index: 20;
  transform: translate(-50%, -50%);
}

.FloatRedes a {
  position: relative;
  display: block;
  text-align: center;
  width: 100%;
  height: 2vh;
  cursor: pointer;
  background-color: rgb(0, 0, 0);
  margin: 2vh auto;
  padding: 2.2vh;
  transition: .3s ease;
  border-radius: 50%;
  fill: white;
}

.FloatRedes>a svg {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  width: 55%;
}

.FloatRedes>a:hover {
  padding: 1.9vh;
  fill: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
}

/*--------------- SERVICIOS -------------------*/

#Habilidades{
width: 90%;
margin: 0px auto;
display: grid;
grid-template-columns: 1fr 8vw;
grid-template-rows: 1fr;
padding: 15vh 0vh;
}

#Habilidades .container  h3{
  width: 100%;
  font-size: 5vh;
  text-align: center;
  font-weight: 400;
}


#Habilidades .servicesCont{
display: grid;
grid-template-columns: repeat(auto-fill, minmax(20vw, 1fr));
margin-top: 30px;
overflow: hidden;
gap: 30px;
padding: 10px;
}

#Habilidades .card-services{
border: 2px solid transparent;
background-color: #f7f7f7;
background-clip: padding-box;
border-radius: 25px;
transform: translateY(50px);
padding: 30px;
transition: all calc(0.3s / var(--Dur));
text-align: center;
border: solid #1d1d1d07 1px;



svg {
  fill: #1D1D1D;
  height: 30px;
}
}

.Cont-icon{
  width: 3vw;
  padding: 20px;
  margin: 2vh auto;
  border: solid #1D1D1D 1px;
  border-radius: 500px;
}

.card-title {
font-weight: 600;
color: #1D1D1D;
line-height: 40px;
font-size: 1.3vw;
padding-bottom: 8px;
}

.card-description {
font-weight: 600;
line-height: 32px;
color: #1D1D1D;
font-size: 1.2vw;
max-width: 470px;
}


/*--------------- EXPERIENCIA -------------------*/

#Experiencia{
  width: 90%;
  margin: 0px auto 0px auto;
  display: grid;
  grid-template-columns: 8vw 1fr;
  padding: 15vh 0vh 0vh 0vh;
}

#Experiencia .vertical-timeline::before{
  background-color: #6168792a;
}


#Experiencia .vertical-timeline-element-icon{
  display: grid;
  place-items: center;
  border: #616879;
  background-color: #f7f7f7!important;
}

#Experiencia .vertical-timeline-element-content{
  background-color: #F7F7F7;
  border: solid #474c5728 1px;
  box-shadow: none;
  border-radius: 30px;
}

#Experiencia h4{
  font-weight: 600;
  color: #000000;
  margin-top: 10px;
}

#Experiencia p{
  font-weight: 400;
  text-indent: 20px;
  color: #626979;
}

#Experiencia .vertical-timeline .Stacks{
  margin: 20px 0px 10px 0px;
  display: flex;
  justify-content: right;
  gap: 20px;
  img{
    height: 20px;
  }
}


/*---------------------- FOOTER  -------------------------*/

footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 20vh;
  padding: 10vh;
  flex-wrap: nowrap;
  justify-content: space-around;
  background-color: #f7f7f7;
  border-top: #e6e6e6 solid 1px;

    h5{
      font-size: 20px;
      margin-bottom: 15px;
      font-weight: 600;
  }
    div{
      justify-self: center;
      width: 50%;
    }

    a{
      transition: .4s ease;
    }
}

footer .ContContacBtn{
  p{
    color: #616879;
    font-size: 16px;
    text-indent: 10px;
    margin-bottom: 20px;
  }

  a{
    display: block;
    color: black;
    border: solid #474c57;
    background-color: #474c57;
    color: white;
    width: 40%;
    padding: 10px;
    text-align: center;
    border-radius: 500px;
    font-weight: 500;
  }

  a:hover{
    background-color: white;
    color: black;
  }
}

footer .contacto {
 ul{
  list-style: none;
  padding: 0;

  li{
    margin-bottom: 20px;
  }

  strong{
    color: #6B7385;
  }

  span{
    font-size: 16px;
    margin: 5px auto;
    display: block;
    color: #6B7385;
    font-family: "Poppins", sans-serif!important;
  }

  a{
    color: #6B7385;
    font-weight: bold;
  }

  a:hover{
    color: rgb(255, 77, 77)!important;
  }
}
}

footer .ft-Redes{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  height: 5vh;
  padding: 5px;

  a{
    text-align: center;
    svg{
      height: 5vh;
    }
  }
  a:hover {
    fill: rgb(255, 77, 77)!important;
  }
}



/* Responsive*/


@media screen and (max-width: 938px) {
  #root {
      scroll-snap-type: none;
      overflow-y: hidden;
      height: 100%;
  }

  header {
      background-color: white;
      z-index: 20;
      width: 100%;
      padding-left: 0%;
      padding-right: 0%;
  }

  #checkMenulabel {
      width: 10%;
      display: block;
      margin-right: 30px;
      font-size: 35px;
      font-weight: 900;
      cursor: pointer;
      justify-self: right;
  }

  nav {
      position: absolute;
      top: 10lvh;
      height: 90lvh;
      background-color: white;
      overflow: hidden;
      transition: ease .3s;
      width: 100%;
      right: -100%;
      margin-right: 0px!important;
  }

  #checkMenu:checked~nav {
      right: 0%;
      height: 90lvh;
  }

  nav a {
      text-align: center;
      font-size: 5lvw;
      width: 80%;
      margin: 40px auto;
      display: block;
  }

  header>nav a.active {
      color: white;
  }

  /*Inicio*/

    
  #Inicio > h1{
    font-size: 6vh;
  }

  #Inicio > p{
    width: 90%;
    font-size: 3vh;
    margin: 16px auto;
  }

  .container-swiper>div {
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
  }

  section {
    display: block!important;
  }

  section h2 {
    margin: 0 auto!important;
    font-size: 15lvw!important;
    writing-mode: unset!important;
    transform: rotate(0deg)!important;
}

/*----------------------------------   DETAILS PROYECT ----------------------------------*/

.detailsProyect .Contenido{
  display: block;
  h2{
    margin-bottom: 20px;
  }
}

.detailsProyect .asideAssets{

  .imgProyect{
    margin-top: 20px;
  }

  .floatBtns{
    position: static;
    width: 100%;
    display: flex;
    height: 50px;
    justify-content: space-evenly;
    margin: 20px auto;
  }
}

.detailsProyect .Enlaces{
  width: 100%;
  justify-content: space-evenly;
  a{
    width: 70%;
  }
}



  /*Proyectos*/
  
  #Proyectos {
      width: 95%;
      grid-template-columns: 1fr;
  }

  .container {
      width: 100%;
      overflow: hidden;
      margin-top: 20px;
  }

  #Proyectos .container > div {
      width: 100%;
      grid-template-columns: 1fr 1fr;
      margin: 0 auto;
      padding-bottom: 8lvh;
  }
  
  #Proyectos .container > div article:nth-child(1) {
      grid-column: 1/2;
      grid-row: 2/4;
  }

  #Proyectos .container > div article:nth-child(2) {
      grid-column: 1/3;
      grid-row: 1/2;
  }

  #Proyectos .container > div article:nth-child(3) {
      grid-column: 2/3;
      grid-row: 4/6;
  }

  #Proyectos .container > div article:nth-child(4) {
      grid-column: 1/2;
      grid-row: 4/5;
  }

/*--------------- HABILIDADES -------------------*/

  #Habilidades .servicesCont{
    display: block;
    flex-wrap: wrap;
    width: 100%;
    }

    #Habilidades .card-services{
      padding: 30px 20px;
    }

    #Habilidades .card-services svg{
      width: 10vw;
    }
  .card-title {
    font-size: 4vw;
  }
  .card-description{
    font-size: 3vw;
  }

/*---------------------- FOOTER  -------------------------*/

footer {
  display: block;
    div{
      width: 100%;
      margin: 20px auto;
    }
}

footer .ft-Redes{
  width: 60%;
}

}





/*---------------------- ANIMACIONES  -------------------------*/

@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
